.navbar {
  background-color: #EEC290;
  font-size:30px;
}

i {
  color: white;
  font-size: 30px; }

.nav > li {
  float: left; }

.navbar-left {
  margin-left: 1%;
  margin-right: 1%; }

.fa {
  font-size :30px;
}
