<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
<!-- 	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
 		<link rel="stylesheet" href="../css/index.css" /> -->
	

</head>
<body>
 <div id="mapid"></div>
<!-- <script src="../js/map.js"></script>
 -->
<!-- <twitter-timeline>
                <a class="twitter-timeline" data-widget-id={{moreCtrl.currentwid}}>Tweets sur #Meteo {{moreCtrl.weatherInfo.name}}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <a class="twitter-timeline" data-widget-id="782417789470511104"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
<twitter-timeline> -->
<!-- <twitter-widget twitter-widget-id="'782417789470511104'"
                twitter-widget-options="{'cards': 'hidden', 'align': 'right'}">
</twitter-widget> -->

 </body>
</html>